@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page Title";
}



<!--Header with preferred name-->
<h1>Braedon Kimball</h1>

<!--Picture of something I enjoy-->
<img src="img/IMG-7451.JPG" /><!--Need an image of me doing something I enjoy -->
<p style="font-size:x-small">My wife and I at a Jazz game!</p>

<!--Paragraph on what I hope to get out of IS 413-->
<p>I'm really excited to take IS 413 this semester! One of the main reasons for my excitement is because C# is a completely different language than Python and Javascript. I really enjoyed both of those languages, however I feel a sense of excitement to learn something different. It seems that I will be able to strengthen my current programming skills and continue to add more and more. Another reason I'm excited is because I already enjoy the concept of coding by convention. I also really enjoyed Professor Hilton's Database class and look forward to learning more from him! </p>

<!--Top 3 Jobs I am most interested in pursuing after graduation-->
<h6><b><u>3 Jobs I Want to Pursue in the Near Future:</u></b></h6>
<ul>
    <li>1. Database Administrator</li>
    <li>2. Web Developer</li>
    <li>3. Information Security Analyst</li>
</ul>


